.react-form-builder>div>div:first-child {
  float: right !important;
  display: flex;
  justify-content: space-between;
}

.react-form-builder>div>div:last-child {
  float: left !important;
  width: 20%;
}

.react-form-builder .react-form-builder-preview .edit-form {
  position: relative;
  order: 2;
  width: 35%;
  transition: none;
  left: auto;
}

.react-form-builder .react-form-builder-preview .Sortable {
  width: 60%;
}

 

.App {
  margin: auto;
  max-width: 1600px;
}

body {
  width: 100%;
}

.app-container {
  display: flex;
  justify-content: space-between;
}

.form-elements-list {
  width: 200px;
  margin-right: 20px;
}

.grid-container {
  flex-grow: 1;
}

.grid-stack-item-content {

  position: relative;
}

.grid-stack-item-content .right-top {
  position: absolute;
  top: 5px;
  right: 5px;
}


.grid-stack {
  /* min-height: 500px; */
}

.left-menu {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #8b8b8b;
  color: #fff;
}

.textField .full-width,
.textarea .full-width {
  width: 100%;
  display: block;
}

.textarea .full-width {
  height: 23px;
}

.element-TextField {
  background-image: url('./img/textfield.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 30px;
  padding-left: 30px;
}

.element-TextArea {
  background-image: url('./img/textarea.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 30px;
  padding-left: 30px;
}

.main-grid {
  display: flex;
  max-width: 95%;
  margin: auto;
}

.app-drop-box {
  width: calc(100% - 320px);
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
}

.app-drop-box>div {
  width: 100%;
}

/* .grid-stack-item{border: 1px solid #aaa;} */


.grid-stack {
  width: 100%;
  min-height: 100%;
  background-color: #f0f0f0; /* Add background for visibility */
}

 
.app-drop-box > .grid-stack {
  /* min-height: 500px; */
}

.grid-stack-item-content {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 10px;
}


.multi-grid-container {
  display: flex;
}

.grid {
   
}
.action-btn *{position: relative !important;}


.drag-header::before{
  content: "\2636";
  margin-right: 10px;
}

.tabel-grid{
  height: 300px !important;
}
.app-elements{
  height: 100%;
}

.required{
  color: #f00;
}
.edit-app{padding: 10px; width: 340px;}

.app-edit-element{
  padding: 10px;
  border: 1px solid #ccc;
}

.input-property{
  margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.input-property.input-grouped{flex-direction: row;}
.input-property label{margin-right: 10px; text-transform: capitalize;}

.app-form > .grid-stack {
  min-height: 600px;
  
}
.app-form {width: 100%;}

.app-form-div{display: flex;}

.highlighted-column {
  background-color: #c8f7c5 !important; /* Light green background for the selected column */
}



.drag-header {
  cursor: move;
  background-color: #f0f0f0;
  position: absolute;
  right: 0px;
  top: 2px;
  z-index: 10010;
}

.grid-element{
  height: 100%;
}

.ag-header-cell-comp-wrapper{
  height: 100%;
    display: flex;
    align-items: center;
}